body{
background-color: blueviolet;
color: rgb(238, 192, 42);
font-weight: bolder;


}

#nombre{
background-color: rgb(36, 232, 134);
border: solid blue;
}
#correo{
background-color: rgb(244, 96, 96);
border: solid rgb(7, 137, 61);
}

#matricula{
background-color: rgb(15, 220, 29);
border: solid rgb(157, 66, 5);

}

h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
justify-content: center;
border: 4px solid orange;
margin: 10px;
align-items: center;
gap: 12px;


}

#enviar, #limpiar{
background-color: aquamarine;
padding: 11px;
border-radius: 5px;
border: 2px solid purple;
font-size: large;
box-shadow: 0 0 10px 0px navy;
color: rgb(1, 21, 21);
width: 100px;
height: 100px;
}

body{
animation: colores 10s infinite;
}
@keyframes colores{
0%{background-color: aqua;}
25%{background-color: bisque;color: black;}
50%{background-color: brown;color: rgb(33, 224, 15);}
75%{background-color: coral;color: black;}
100%{background-color: green;}
}



