body{
font-family: 'Times New Roman', Times, serif;
background-color: #14f5aa;
color: rgb(28, 25, 31);


}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

:root {
    --verde: #6bbf59;
    --crema: #f7f6f2;
    --oscuro: #333;
}


.header {
    position: relative;
    text-align: center;
    padding: 40px 20px;
    color: rgb(24, 23, 23);
}

.hero-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.9;
}


.nav {
    background: rgb(226, 146, 146);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--oscuro);
    font-weight: bold;
}

.nav a:hover {
    color: var(--verde);
}


.section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
    line-height: 1.7;
    justify-content: center;
    align-items: center;
    text-align: justify;



    }
    .no-points{
    list-style: none;
    padding-left: 0;
}

.section.alt {
    background: var(--crema);
}

.section-img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px 0;
    
}


.card {
    background: rgb(47, 146, 228);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    text-align: center;
    height: auto;
    width: auto;

}

.card img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 8px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.footer {
    text-align: center;
    padding: 20px;
    background: rgb(240, 221, 54);
    color: rgb(3, 40, 143);
    margin-top: 30px;
    border-top: 3px solid var(--verde);
}


.fade-in {
    animation: fadeIn 1.2s ease-in-out;
}

.slide-down {
    animation: slideDown 1s ease;
}

.zoom:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.bounce:hover {
    animation: bounce 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideDown {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-6px); }
    100% { transform: translateY(0); }
}


@media (max-width: 600px) {
    .nav ul {
        flex-direction: column;
    }
    .nav a {
        margin: 10px 0;
    }
}

